.notify__page{
  display: flex;
  flex-direction: column;
  height: 100%;
  
}

.notify__display{
  
  text-align: center;
  padding: 4rem;
}

.notify__text{
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.modal {
    display: none; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }

  .modal__input{
    display: flex;
    flex-direction: column;
  }
  
  .modal__content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 30%; 
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .showmodal {
    display: block; 
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }


  @media (max-width:44rem) {
    
    .modal__content {
      background-color: #fefefe;
      margin: 15% auto; 
      padding: 20px;
      border: 1px solid #888;
      width: 60%; 
    }

    .adoption__details{
      font-size: large;
      overflow:auto;
      width: 200px;
      height: 100px;
    }

    
    .notify__text{
      font-size: medium;
    }


    .notify__page{
      display: flex;
    }
    
   
  }